*{
    margin: 0;
}

html , body{
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    grid-column-gap: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.box{
    width: 240px;
    height: 200px;
    border: 1px solid black;
}